nav {
    
    text-align: center; 
    background-color: lightcoral;
}
main{
    background-color:lightseagreen;
    margin-right: 25%;
}
aside {
    border-style: double;
    border-radius: 25%;
    padding-left: auto;
    margin-left: 75%;
}

.HF {
    text-align: center;
    border-style: dotted;
}
.dropbtn { 
    background-color: darkgoldenrod;
    color:black;
    padding: 16px;
    font-size: 16px;
    border: none;

}
.dropdown {
    position: relative;
    display:inline-block;
}

.dropdown-content {
    display: none;
    position:absolute;
    background-color: aliceblue;
    min-width: 160px;
    box-shadow: 0px 8px 16px lightblue;
    z-index: 1;
}
.dropdown-content p {
    color:black;
    padding: 12px 16px;
    text-decoration: none;
    display:block;
}

.dropdown-content p:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #3e8e41;}