.head {
    background-color: powderblue;
}
body {
    background-color: powderblue;
    font-family: 'Times New Roman', Times, serif;
    color:azure;

}
div {
    text-align: center;
    color:black

}
header {
    color: black;
    font-size: 50px
}
h1 {
    text-align: center;
    background-color: aliceblue;
    color: brown
}
h2 {
    background-color: green;
    color: whitesmoke;
    float: right;
    margin-top: 100px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 100px;
}
