.head {
    background-color: powderblue;
}
body {
    background-color: powderblue;
    font-family: 'Times New Roman', Times, serif;
    color:azure;

}
div {    
    text-align: center;
    color:black;
    font-size: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-style: dotted;
    border-radius: 50%;
    margin-bottom: 100px;
    

}
.hf {
    background-color:lightgreen;
}

h1 {
    text-align: center;
    background-color: aliceblue;
    color: brown;
    font-family:'Courier New', Courier, monospace;
    font-size: 50px;
    border-style:groove;
}

h2 {
    text-align: right;
    color: white;
    font-family:fantasy; 
    font-size: 60px;
    border-style:ridge;
    border-color: blueviolet;
}

